* 
{
    padding: 0;
    margin: 0;
}
nav
{
    width: 100%;
    height: 60px;
    background-color: hotpink;
}

#game
{
    width: 70%;
    height: 600px;
    margin: 0 auto;
    background-color: grey;
    cursor: none;
    user-select: none;
}
#cursor
{
    background-color: white;
    height: 20px;
    width: 20px;
    top: inherit;
    left: inherit;
    border-radius: 50%;
    position: absolute;
}
button
{
    border: none;
    background-color: transparent;
    outline: none;
    margin: 10px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 40px;
    cursor: pointer;
}
.outer_circle
{
    border-radius: 50%;
    border: 3px white solid;
    background-color: transparent;
    width: 140px;
    height: 140px;
    position: absolute;
    top: inherit;
    left: inherit;
}
.inner_circle
{
    border-radius: 50%;
    background-color: hotpink;
    width: 80px;
    height: 80px;
    position: absolute;
    top: inherit;
    left: inherit;
    color: white;
    text-align: center;
    border: 1px darkmagenta solid;
    line-height: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}
.accuracy
{
    color: rgba(255,255,255,0.8);
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
}