* 
{
    padding: 0;
    margin: 0;
}
body
{
    background-image: url("beatmapsbgs/granat.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
}
nav
{
    width: 100%;
    height: 60px;
}

#game
{
    width: 70%;
    height: 600px;
    margin: 0 auto;
    border: 2px solid white;
    cursor: none;
    background-color: rgba(0,0,0,0.5);
}
#cursor
{
    background-color: white;
    height: 20px;
    width: 20px;
    top: inherit;
    left: inherit;
    border-radius: 50%;
    position: absolute;
}
button
{
    border: none;
    background-color: transparent;
    outline: none;
    margin: 10px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 40px;
    cursor: pointer;
}
.outer_circle
{
    border-radius: 50%;
    border: 3px white solid;
    background-color: transparent;
    width: 140px;
    height: 140px;
    position: absolute;
    top: inherit;
    left: inherit;
}
.inner_circle
{
    border-radius: 50%;
    background-color: hotpink;
    width: 80px;
    height: 80px;
    position: absolute;
    top: inherit;
    left: inherit;
    color: white;
    text-align: center;
    border: 2px darkmagenta solid;
    line-height: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}
.accuracy
{
    color: rgba(255,255,255,0.8);
    -webkit-font-smoothing: antialiased;
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
}
#score
{
    left: 80%;
    top: 15px;
}
#combo
{
    bottom: 10px;
    right: 87%;
}
p
{
    position: absolute;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
#hpbar
{
    position: absolute;
    height: 30px;
    margin: 20px 10px;
    left: 5%;
    width: 25%;
    border-radius: 20%;
    border: 3px solid black;
    background-color: rgba(0,0,0,0.5);
}
#hp
{
    background-color: palevioletred;
    top: inherit;
    left: +5px;
    height: inherit;
    border-radius: 25%;
    width: 100%;
}
#hpIco
{
    position: absolute;
    top: -10px;
    left: -12px;
    height: 60px;
    width: auto;
}
.popup
{
    position: absolute;
    background-color: rgb(58, 43, 43);
    border: 2px solid white;
    color: white;
    padding-top: 10px;
    font-size: 34px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    border-radius: 10%;
    display: none;
}