* 
{
    padding: 0;
    margin: 0;
}
nav
{
    width: 100%;
    height: 60px;
    background-color: hotpink;
}

#game
{
    width: 70%;
    height: 600px;
    margin: 0 auto;
    background-color: grey;
    cursor: none;
}
#cursor
{
    background-color: white;
    height: 20px;
    width: 20px;
    top: inherit;
    left: inherit;
    border-radius: 50%;
    position: absolute;
}
button
{
    border: none;
    background-color: transparent;
    outline: none;
    margin: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 20px;
}
.outer_circle
{
    border-radius: 50%;
    border: 4px white solid;
    background-color: transparent;
    width: 90px;
    height: 90px;
    position: absolute;
    top: inherit;
    left: inherit;
}
.inner_circle
{
    border-radius: 50%;
    background-color: hotpink;
    width: 60px;
    height: 60px;
    position: absolute;
    top: inherit;
    left: inherit;
}